body {
  padding: 0;
  margin: 0;
}


.container {
  height: 100vh;
  position: relative;
}

.point {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
}

.buttons {
  background-color: aqua;
}